<div id="calendar_tab" class="tab-container tab-active">
  <div class="calendar-container">
    <%= week_calendar number_of_weeks: 2 do |date| %>
      <span class="table-cell-date"><%= date.strftime("%d %b") %></span>
      <div class="table-cell-counters">
        <% day = current_user.daily_activities.find_by(date: date) %>
        <% if day %>
          <p class="cell-foods">Eaten<br /><%= day.food_calories %></p>
          <p class="cell-exercises">Burned<br /><%= day.exercise_calories %></p>
        <% else %>
          <p class="cell-foods">Eaten<br />0</p>
          <p class="cell-exercises">Burned<br />0</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div id="food_tab" class="tab-container">
  <h3>Add food</h3>
  <%= form_for @food, url: food_path, method: 'post', html: {class: "add-form"} do |f| %>
    <%= f.text_field :name, placeholder: "Food name" %>
    <%= f.number_field :calories, placeholder: "Amount of calories" %><br />
    <span class="form-date">Date:</span>
    <%= date_field_tag(:date, Date.today) %><br />
    <%= f.submit "Add food" %>
  <% end %>
</div>


<div id="exercise_tab" class="tab-container">
  <h3>Add activity</h3>
  <%= form_for @exercise, url: exercise_path, method: 'post', html: {class: "add-form"} do |f| %>
    <%= f.text_field :name, placeholder: "Activity name" %>
    <%= f.number_field :calories, placeholder: "Amount of calories" %><br />
    <span class="form-date">Date:</span>
    <%= date_field_tag(:date, Date.today) %><br />
    <%= f.submit "Add activity" %>
  <% end %>
</div>


<div id="goals_tab" class="tab-container">
  <h3>Change your calorie goals</h3>
  <%= form_tag goals_path, method: :patch, class: 'goals-form' do %>
    <div class="goals-group">
      <%= label_tag 'food_goal', "Food:", class: 'goal-label' %>
      <%= number_field_tag 'food_goal', current_user.food_goal , class: 'calorie-goal-input' %>
    </div>
    <div class="goals-group">
      <%= label_tag 'exercise_goal', "Activity:", class: 'goal-label' %>
      <%= number_field_tag 'exercise_goal', current_user.exercise_goal, class: 'calorie-goal-input' %>
    </div>
    <%= submit_tag "Change goals", class: "calorie-goal-submit" %>
  <% end %>
</div>








<aside class="activity-options">
  <div class="activity-item activity-active" id="open_calendar_tab">Show Calendar</div>
  <div class="activity-item" id="open_food_tab">Add Food</div>
  <div class="activity-item" id="open_exercise_tab">Add Activity</div>
  <div class="activity-item" id="open_goals_tab">Change Goals</div>
</aside>