<div id="calendar_tab" class="tab-container tab-active">
  <div class="day-container">
    
    <div class="day-info">
      <%= link_to "< Back to the calendar", calendar_path, class: "calendar-link" %>
      
      <div class="day-date"><%= @days_activity.date.strftime("%e %B %y") %></div>
    </div>

    <div class="day-tabs">
      <div id="open_food_table" class="active-day-tab">Food tab</div>
      <div id="open_exercise_table">Exercise tab</div>
    </div>
    
    <div class="day-table-container day-table-active" id="food_table">
      <table>
        <thead>
          <tr>
            <td class="head-count">#</td>
            <td class="head-name">Name</td>
            <td class="head-calories">Calories</td>
            <td class="head-remove">Remove</td>
          </tr>
        </thead>

        <tbody>
          <% @foods.each_with_index do |food, i| %>
            <tr>
              <td class="body-count"><%= i+1 %></td>
              <td class="body-name"><%= food.name %></td>
              <td class="body-calories"><%= food.calories %></td>
              <td class="body-remove"><%= link_to '-X-', food_path(food), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="day-table-container" id="exercise_table">
      <table>
        <thead>
          <tr>
            <td class="head-count">#</td>
            <td class="head-name">Name</td>
            <td class="head-calories">Calories</td>
            <td class="head-remove">Remove</td>
          </tr>
        </thead>

        <tbody>
          <% @exercises.each_with_index do |exercise, i| %>
            <tr>
              <td class="body-count"><%= i+1 %></td>
              <td class="body-name"><%= exercise.name %></td>
              <td class="body-calories"><%= exercise.calories %></td>
              <td class="body-remove"><%= link_to '-X-', exercise_path(exercise), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div id="food_tab" class="tab-container">
  <h3>Add food</h3>
  <%= form_for @food, url: {controller: "foods", action: "create"}, html: {class: "add-form"} do |f| %>
    <%= f.text_field :name, placeholder: "Food name" %>
    <%= f.number_field :calories, placeholder: "Amount of calories" %><br />
    <span class="form-date">Date:</span>
    <%= date_field_tag(:date, Date.today) %><br />
    <%= f.submit "Add food" %>
  <% end %>
</div>


<div id="exercise_tab" class="tab-container">
  <h3>Add activity</h3>
  <%= form_for @exercise, url: {controller: "exercises", action: "create"}, html: {class: "add-form"} do |f| %>
    <%= f.text_field :name, placeholder: "Activity name" %>
    <%= f.number_field :calories, placeholder: "Amount of calories" %><br />
    <span class="form-date">Date:</span>
    <%= date_field_tag(:date, Date.today) %><br />
    <%= f.submit "Add activity" %>
  <% end %>
</div>


<div id="goals_tab" class="tab-container">
  <h3>Change your calorie goals</h3>
  <%= form_tag goals_path, method: :patch, class: 'goals-form' do %>
    <div class="goals-group">
      <%= label_tag 'food_goal', "Food:", class: 'goal-label' %>
      <%= number_field_tag 'food_goal', current_user.food_goal , class: 'calorie-goal-input' %>
    </div>
    <div class="goals-group">
      <%= label_tag 'exercise_goal', "Activity:", class: 'goal-label' %>
      <%= number_field_tag 'exercise_goal', current_user.exercise_goal, class: 'calorie-goal-input' %>
    </div>
    <%= submit_tag "Change goals", class: "calorie-goal-submit" %>
  <% end %>
</div>








<aside class="activity-options">
  <div class="activity-item activity-active" id="open_calendar_tab">Show Calendar</div>
  <div class="activity-item" id="open_food_tab">Add Food</div>
  <div class="activity-item" id="open_exercise_tab">Add Activity</div>
  <div class="activity-item" id="open_goals_tab">Change Goals</div>
</aside>